BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RST" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RW_IN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LOCK" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "RAM_CS_N" IO_TYPE=LVCMOS33 SLEWRATE=FAST CLAMP=OFF OPENDRAIN=OFF ;
IOBUF PORT "RAM_OE_N" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "RW_OUT" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "TA_N" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=DOWN CLAMP=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" ;
LOCATE COMP "CLK" SITE "92" ;
LOCATE COMP "RW_IN" SITE "75" ;
LOCATE COMP "RAM_OE_N" SITE "143" ;
LOCATE COMP "RW_OUT" SITE "73" ;
LOCATE COMP "RST" SITE "76" ;
LOCATE COMP "LOCK" SITE "77" ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
VCCIO_DERATE PERCENT 0; 
LOCATE COMP "A[23]" SITE "120" ;
LOCATE COMP "A[24]" SITE "121" ;
LOCATE COMP "A[25]" SITE "122" ;
LOCATE COMP "A[26]" SITE "132" ;
LOCATE COMP "A[27]" SITE "133" ;
LOCATE COMP "A[28]" SITE "138" ;
LOCATE COMP "A[29]" SITE "139" ;
LOCATE COMP "A[30]" SITE "140" ;
LOCATE COMP "A[31]" SITE "141" ;
IOBUF PORT "A[23]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "A[24]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "A[25]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "A[26]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "A[27]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "A[28]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "A[29]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "A[30]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "A[31]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TS_N" IO_TYPE=LVCMOS33 ;
USE PRIMARY NET "CLKOS" ;
USE PRIMARY NET "CLK_c" ;
LOCATE COMP "ROM_CS_N" SITE "35" ;
IOBUF PORT "ROM_CS_N" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "TA_N" SITE "142" ;
REGION "CSAT2" "R2C15D" 2 5 DEVSIZE;
LOCATE COMP "TS_N" SITE "74" ;
CLOCK_TO_OUT PORT "RAM_CS_N" 6.000000 ns CLKPORT "CLK" ;
LOCATE COMP "RAM_CS_N" SITE "127" ;
LOCATE COMP "ROM_BUFFER_OE_N" SITE "96" ;
LOCATE COMP "ROM_OE_N" SITE "34" ;
REGION "ROMCSTA" "R2C8D" 3 5 DEVSIZE;
IOBUF PORT "ROM_OE_N" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "ROM_BUFFER_OE_N" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
UGROUP "RAMCSTA" 
	BLKNAME u_ROM_CS_TA/mux_8_i7_3_lut_3_lut
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/shift_reg_i6
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/load_registered_14
	BLKNAME u_decode/i1_4_lut
	BLKNAME u_decode/i2_3_lut
	BLKNAME u_ROM_CS_TA/int_ROM_CS_N_29
	BLKNAME u_RAM_CS_TA/loadTA_16
	BLKNAME u_ROM_CS_TA/mux_59_i4_3_lut_3_lut
	BLKNAME ROM_TA_N_I_0_3_lut
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i4
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/load_registered_14
	BLKNAME u_decode/i5_4_lut
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i8
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i9
	BLKNAME u_ROM_CS_TA/int_ROM_CS_N_I_0_2_lut
	BLKNAME u_ROM_CS_TA/i2_3_lut_3_lut_adj_15
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/shift_reg_i1
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/shift_reg_i2
	BLKNAME u_ROM_CS_TA/i2_3_lut_3_lut
	BLKNAME u_RAM_CS_TA/int_RAM_CS_N_I_0_18_2_lut
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/load_half_13
	BLKNAME u_RAM_CS_TA/u_SR_TA/load_half_13
	BLKNAME u_RAM_CS_TA/i3_4_lut
	BLKNAME u_decode/i6_4_lut
	BLKNAME u_RAM_CS_TA/int_RAM_CS_N_17
	BLKNAME u_ROM_CS_TA/loadCS_27
	BLKNAME u_RAM_CS_TA/u_SR_TA/load_registered_14
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/shift_reg_i0
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/shift_reg_i7
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/shift_reg_i5
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/shift_reg_i4
	BLKNAME u_RAM_CS_TA/u_SR_RAMS_CS/shift_reg_i3
	BLKNAME u_RAM_CS_TA/u_SR_TA/shift_reg_i7
	BLKNAME u_RAM_CS_TA/u_SR_TA/shift_reg_i2
	BLKNAME u_RAM_CS_TA/u_SR_TA/shift_reg_i1
	BLKNAME u_RAM_CS_TA/u_SR_TA/shift_reg_i4
	BLKNAME u_RAM_CS_TA/u_SR_TA/shift_reg_i3
	BLKNAME u_RAM_CS_TA/u_SR_TA/shift_reg_i6
	BLKNAME u_RAM_CS_TA/u_SR_TA/shift_reg_i5
	BLKNAME u_RAM_CS_TA/u_SR_TA/shift_reg_i0;
LOCATE UGROUP "RAMCSTA" REGION "CSAT2" ;
UGROUP "ROMCSTA" 
	BLKNAME u_ROM_CS_TA/i148_4_lut
	BLKNAME u_ROM_CS_TA/loadTA_28
	BLKNAME u_ROM_CS_TA/RW_IN_I_0_1_lut_rep_2
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i1
	BLKNAME u_ROM_CS_TA/mux_59_i2_3_lut_3_lut
	BLKNAME u_ROM_CS_TA/mux_59_i3_3_lut_3_lut
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i2
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i3
	BLKNAME u_ROM_CS_TA/u_SR_TA/load_half_13
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/load_half_13
	BLKNAME u_ROM_CS_TA/i146_3_lut
	BLKNAME u_ROM_CS_TA/state_26
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i5
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i10
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i7
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i6
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i9
	BLKNAME u_ROM_CS_TA/u_SR_ROMS_CS/shift_reg_i8
	BLKNAME u_ROM_CS_TA/u_SR_TA/i97_1_lut
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i1
	BLKNAME u_ROM_CS_TA/u_SR_TA/load_registered_14
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i2
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i10
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i4
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i3
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i6
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i5
	BLKNAME u_ROM_CS_TA/u_SR_TA/shift_reg_i7;
LOCATE UGROUP "ROMCSTA" REGION "ROMCSTA" ;
